@model SewagePlantIMS.Models.DeviceRepair
@{
    ViewBag.Title = "修改设备维修记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--一个时间插件CSS-->
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<fieldset>
    <legend style="color:#5b9bd1">修改设备维修记录</legend>
</fieldset>
@using (Ajax.BeginForm("ModifyDeviceRepair_Post", "Device", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,

}))
{
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_title, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_title, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入具体维修的设备名称" } })
        @Html.ValidationMessageFor(model => model.repair_title, "", new { @class = "text-danger" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.device_id, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.device_id, new SelectList(ViewBag.list_device, "Value", "Text"), new { @class = "btn btn-default dropdown-toggle form-control", @onchange = "selectOnchang(this)" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_begin, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_begin, new { htmlAttributes = new { @class = "form_datetime form-control", @type = "datetime", @readOnly = "readOnly " } })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_starts, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_starts, new { htmlAttributes = new { @class = "form_datetime form-control", @type = "datetime", @readOnly = "readOnly " } })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_consume, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_consume, new { htmlAttributes = new { @class = "form-control", @placeholder = "预计耗时" } })
        @Html.ValidationMessageFor(model => model.repair_consume, "", new { @class = "text-danger" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.manager_opinion, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.manager_opinion, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入经理意见" } })
        @Html.ValidationMessageFor(model => model.manager_opinion, "", new { @class = "text-danger" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.isapproval, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.isapproval, new SelectList(ViewBag.isapproval, "Value", "Text"), new { @class = "btn btn-default dropdown-toggle form-control", @onchange = "selectOnchang(this)", @id = "isapproval_select" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.isover, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.isover, new SelectList(ViewBag.isover, "Value", "Text"), new { @class = "btn btn-default dropdown-toggle form-control", @onchange = "selectOnchang(this)", @id = "isover_select" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_date, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_date, new { htmlAttributes = new { @class = "form-control form_datetime", @type = "datetime", @id = "repair_date", @readOnly = "readOnly " } })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_finsh, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_finsh, new { htmlAttributes = new { @class = "form-control form_datetime", @type = "datetime", @id = "get_repair_finsh", @readOnly = "readOnly " } })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_class, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.repair_class, new SelectList(ViewBag.state, "Value", "Text"), new { @class = "btn btn-default dropdown-toggle form-control", @onchange = "selectOnchang(this)" ,@id = "state_select" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_nums, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_nums, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入设备数量" } })
        @Html.ValidationMessageFor(model => model.repair_nums, "", new { @class = "text-danger" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_reasons, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_reasons, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入维修原因" } })
        @Html.ValidationMessageFor(model => model.repair_reasons, "", new { @class = "text-danger" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_conclusion, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_conclusion, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入维修结论" } })
        @Html.ValidationMessageFor(model => model.repair_conclusion, "", new { @class = "text-danger" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_join, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_join, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入参与维修的人员" } })
        @Html.ValidationMessageFor(model => model.repair_join, "", new { @class = "text-danger" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_consumption, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_consumption, new { htmlAttributes = new { @class = "form-control", @placeholder = "零部件消耗情况" } })
        @Html.ValidationMessageFor(model => model.repair_consumption, "", new { @class = "text-danger" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.repair_mark, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.repair_mark, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入相关备注" } })
        @Html.ValidationMessageFor(model => model.repair_mark, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary btn-block" value=@Model.id name="idd">修改维修设备</button>
}
<button class="btn btn-default btn-block" onclick="javascrtpt: window.location.href = 'DeviceRepair'">返回</button>

<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script>
    $.fn.datetimepicker.dates['zh'] = {
        days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
        daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
        daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
        months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
        monthsShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
        meridiem: ["上午", "下午"],
        //suffix:      ["st", "nd", "rd", "th"],
        today: "今天"
    };
    $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii', language: 'zh' });
    //设置设备状态
    $("#state_select option[value='" + @Model.repair_class +"']").attr("selected", "selected");
    //让input框显示默认值
    $("#isapproval_select option[value='"+@Model.isapproval+"']").attr("selected", "selected");
    //让input框显示默认值
    $("#isover_select option[value='" + @Model.isover +"']").attr("selected", "selected");
</script>