@model SewagePlantIMS.Models.DeviceMaintenance
@{
    ViewBag.Title = "ModifyDeviceMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
    <legend style="color:#5b9bd1">修改保养清单</legend>
</fieldset>


@using (Ajax.BeginForm("ModifyDeviceMaintenance_Post", "Device", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,

}))
{
    <div class="am-form-group">
        @Html.LabelFor(model => model.device_id, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.device_id, new SelectList(ViewBag.list_device, "Value", "Text"), new { @class = "btn btn-default dropdown-toggle form-control", @onchange = "selectOnchang(this)" })
    </div>
    <div class="am-form-group">
        @Html.LabelFor(model => model.dm_content, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.dm_content, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入保养内容" } })
        @Html.ValidationMessageFor(model => model.dm_content, "", new { @class = "text-danger" })
    </div>
        <div class="am-form-group">
            @Html.LabelFor(model => model.dm_consumption, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.dm_consumption, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入保养内容" } })
            @Html.ValidationMessageFor(model => model.dm_consumption, "", new { @class = "text-danger" })
        </div>
        <div class="am-form-group">
            @Html.LabelFor(model => model.dm_date, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.dm_date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.dm_date, "", new { @class = "text-danger" })
        </div>
        <div class="am-form-group">
            @Html.LabelFor(model => model.dm_weekend, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.dm_weekend, new SelectList(ViewBag.weekend, "Value", "Text"), new { @class = "btn btn-default dropdown-toggle form-control", @onchange = "selectOnchang(this)" })
        </div>
        <div class="am-form-group">
            @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入相关备注" } })
            @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary btn-block"name="idd" value=@Model.id>修改保养</button>
}

<button class="btn btn-default btn-block" onclick="javascrtpt: window.location.href = 'DeviceMaintenance'">返回</button>

<script>
    @{
        string yy ;
        string mm ;
        string dd ;
        if (Model.dm_date.ToString() != "") {
            string date = Model.dm_date.ToString();
            DateTime dt = DateTime.Parse(date);
            yy = dt.Year.ToString();
            mm = dt.Month.ToString();
            dd = dt.Day.ToString();
        }
        else
        {
            yy = "";
            mm = "";
            dd = "";
        }

    }
    $(document).ready(function () {
        var time = new Date(@yy,@mm,@dd);
        var day = ("0" + time.getDate()).slice(-2);
        var month = ("0" + (time.getMonth())).slice(-2);
        var today = time.getFullYear() + "-" + (month) + "-" + (day);
        $('#dm_date').val(today);
    })
</script>


